.main {
  height: 100%;
  width: 100%;
}
.profilePhoto {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: auto;
  margin-top: 70px;
}

.introText {
  text-align: center;
  font-weight: bold;
  color: rgb(65, 100, 163);
  font-size: 40px;
  margin: 0;
}

.welcomeText {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(65, 119, 163);
}
