.main {
  height: 100%;
  width: 100%;
}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.topBar a {
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(59, 52, 90);
  padding: 2px 5px;
}

.profilePhoto {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: auto;
  margin-top: 50px;
}

.introText {
  text-align: center;
  font-weight: bold;
  color: rgb(65, 100, 163);
  font-size: 40px;
  margin: 0;
}

.welcomeText {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(65, 119, 163);
}

@media screen and (max-width: 480px) {
  .introText {
    font-size: 25px;
    margin-bottom: 7px;
    width: 90%;
    margin: auto;
  }
  .welcomeText {
    font-size: 15px;
  }
}
