.main {
  height: 100%;
  width: 100%;
}

.main h1 {
  color: rgb(65, 100, 163);
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.personalInfoDiv {
  text-align: center;
}

.personalInfoDiv p {
  margin-top: 0;
}

.text {
  width: 400px;
  margin: auto;
  text-align: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
}

.icon {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(132, 90, 199);
  border-radius: 50%;
  color: rgb(104, 72, 156);
  padding: 3px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: 0.3s ease;
}

.icon:hover {
  background-color: rgb(106, 72, 160);
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
}

@media screen and (max-width: 480px) {
  .text {
    width: 90%;
  }
  .icon {
    height: 40px;
    width: 40px;
  }
}
