.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration {
  width: 50%;
  height: auto;
}

.illustration img {
  width: 100%;
  height: 100%;
}

.textContent {
  height: 60vh;
  width: 45%;
}
.textContent h1 {
  margin: 0;
}

.headings {
  text-align: center;
}
