.main {
  margin-top: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContent {
  width: 50%;
  height: 100%;
  text-align: center;
  margin-top: -100px;
}

.textContent p {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-weight: 500;
}

.heading {
  font-size: 36px;
  color: rgb(65, 100, 163);
}

.illustration {
  height: auto;
  width: 40%;
}
.illustration img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .main {
    margin-top: 30px;
  }
  .illustration {
    display: none;
  }
  .textContent {
    margin: 0;
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .heading {
    font-size: 20px;
  }
  .textContent {
    width: 100%;
  }
}
