.main {
  width: 100%;
  height: 100%;
}

.heading {
  text-align: center;
  margin: 0;
  color: rgb(65, 100, 163);
  font-size: 20px;
}

.cardsDiv {
  margin: auto;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hopeDiv {
  margin: auto;
  width: fit-content;
  text-align: center;
  background-color: rgb(65, 100, 163);
  border-radius: 5px;
}
.hopeDiv h2 {
  color: #fff;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .hopeDiv h2 {
    font-size: 20px;
  }
}
